body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  margin: 20px;  
}


.videos-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.videos-container div iframe {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 1000px){
  .videos-container {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .videos-container div:first-child iframe {
    height: 700px;
  }
}